#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 8em;
  padding: 2.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #6a1d1d);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #4a2727aa);
}

.centered-text {
  padding: 5.0em;
  margin-left: 6.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bold-text {
  font-weight: bold;
}

.large-text {
  font-size: 3.0rem;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}